body {
	background: url('pic/LandlordsCreativesLogoTrans.svg') no-repeat center center fixed; 
/*	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover;*/
	background-size: 100%;
	filter:alpha(opacity=40);
/*	background-color:rgba(0,0,0,0.5);*/
}
